/* RegisterPage.css */

.light {
    background-color: #eaeaea;
    color: black;
}

.dark {
    background-color: #333;
    color: white;
}

/* Specific styles for inputs */
.light .MuiInputBase-root {
    background-color: #eaeaea;
    color: black;
}

.dark .MuiInputBase-root {
    background-color: #444;
    color: white;
}

/* Specific styles for input labels and icons */
.light .MuiInputLabel-root,
.light .MuiSvgIcon-root {
    color: black;
}

.dark .MuiInputLabel-root,
.dark .MuiSvgIcon-root {
    color: white;
}



/* autofill styles */
.light input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #eaeaea inset !important;
    -webkit-text-fill-color: black !important;
    caret-color: black !important;
}



.dark input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #444 inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white !important;
}

.light .loginButton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    transition: background-color 0.3s;
}

.light .loginButton:hover {
    background-color: #005fc4;
    cursor: pointer;
}


.dark .loginButton {
    background-color: #747bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dark .loginButton:hover {
    background-color: #575bb1;
    cursor: pointer;
}

/* Link styles in light mode */
.light .registerLink {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.light .registerLink:hover {
    color: #005fc4;
    text-decoration: underline;
}

/* Link styles in dark mode */
.dark .registerLink {
    color: #747bff;
    text-decoration: none;
    transition: color 0.3s;
}

.dark .registerLink:hover {
    color: #575bb1;
    text-decoration: underline;
}


.input-container {
    display: flex;
    align-items: center;
    border-radius: 5px;
    /* overflow: hidden; */
    /* Ensures that the inner elements don’t overflow the container */
}

/* Dark mode styles for input container */
.dark .input-container {
    background-color: #444;
    color: white;
}

/* Light mode styles for input container */
.light .input-container {
    background-color: #eaeaea;
    color: black;
}

.input-container .icon {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container .input-field {
    border: none;
    outline: none;
    background-color: transparent;
    color: inherit;
    padding: 10px;
    width: 100%;
}