/* RegisterPage.css */
html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    /* Prevent scrolling */
}

.light {
    background-color: #eaeaea;
    color: black;
}

.dark {
    background-color: #333;
    color: white;
}

/* Specific styles for inputs */
.light .MuiInputBase-root {
    background-color: #eaeaea;
    color: black;
}

.dark .MuiInputBase-root {
    background-color: #444;
    color: white;
}

/* Specific styles for input labels and icons */
.light .MuiInputLabel-root,
.light .MuiSvgIcon-root {
    color: black;
}

.dark .MuiInputLabel-root,
.dark .MuiSvgIcon-root {
    color: white;
}

/* Specific styles for the register title and button */
/* .light .register-title,
.light .MuiButton-root {
    color: black;
}

.dark .register-title,
.dark .MuiButton-root {
    color: white;
} */

/* Center the Box component */
.centered-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}