/* LandingPage.css */

.LandingPageContainer.light {
    background-color: #eaeaea;
    padding: 3rem 3rem;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
    /* border: 1px solid #808080; */

}

.LandingPageContainer.dark {
    background-color: #333;
    color: #fff;
    border-radius: 15px;
    /* border: 1px solid #aaa; */
    padding: 3rem 3rem;
    text-align: center;
    margin: 0 auto;
}

.light .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

.dark .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1rem;
}

.light .description {
    font-size: 1.25rem;
    color: #666;
    margin-bottom: 2rem;
}

.dark .description {
    font-size: 1.25rem;
    color: #ccc;
    margin-bottom: 2rem;
}

.features {
    margin-top: 2rem;
}

.light .features .MuiPaper-root {
    background-color: #f6f6f6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    margin: 1rem 0;
}

.dark .features .MuiPaper-root  {
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
    padding: 2rem;
    margin: 1rem 0;
}

.light .features .MuiTypography-h5 {
    font-size: 1.5rem;
    color: #007bff;
    font-weight: 600;
    margin-bottom: 1rem;
}

.dark .features .MuiTypography-h5 {
    font-size: 1.5rem;
    color: lightblue;
    font-weight: 600;
    margin-bottom: 1rem;
}

.light .features .MuiBox-root {
    font-size: 3rem;
}

.buttons .MuiButton-root {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 0.5rem;
}

 .light .buttons .MuiButton-contained {
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
} 

.light .buttons .MuiButton-contained:hover {
    background-color: #0056b3;
}

.light .buttons .MuiButton-outlined {
    border-color: #007bff;
    color: #007bff;
    border-radius: 4px;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.light .buttons .MuiButton-outlined:hover {
    background-color: rgba(0, 123, 255, 0.1);
} 

