/* Ensure the main container is centered and styled */

.LandingPageContainer {
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.title {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.description {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.features {
    font-size: 1.1em;
    color: #444;
    margin-bottom: 30px;
}

.features ul {
    list-style-type: none;
    padding: 0;
}

.features li {
    margin: 10px 0;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
    color: #fff;
}

/* Dark Mode Styles */
.dark {
    background-color: #333;
    color: #fff;

}



/* .dark .LandingPagecontainer {
    background-color: #818181;
} */

.dark .title {
    color: #fff;
}

.dark .description {
    color: #ccc;
}

.dark .features {
    color: #ddd;
}

.dark .button {
    background-color: #747bff;
}

.dark .button:hover {
    background-color: #575bb1;
    color: #fff;
}