/* MotivationQuotesPage.css */

/* Common styles */
.motivation-page-container {
    /* padding: 2px; */
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Light mode styles */
  .light {
    background-color: #ffffff; /* Light background */
    color: #000000; /* Dark text */
  }
  
  /* Dark mode styles */
  .dark {
    background-color: #333; /* Dark background */
    color: #ffffff; /* Light text */
  }
  