:root {
    --background-color: #ffffff;
    --text-color: #333333;
    --border-color: #cccccc;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --button-background-color: #007bff;
    --button-hover-background-color: #0056b3;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #333333;
        --text-color: #ffffff;
        --border-color: #444444;
        --box-shadow-color: rgba(0, 0, 0, 0.5);
        --button-background-color: #1a73e8;
        --button-hover-background-color: #135ab6;
    }
}

body {
    font-family: 'Arial', sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: var(--text-color);
}

form {
    border-radius: 10px;
    padding: 40px 30px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 3px 12px var(--box-shadow-color);
    background-color: var(--background-color);
    animation: fadeIn 0.4s ease-in-out;
    border: none;
}

h2 {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 20px;
}

.error {
    color: red;
    margin-bottom: 20px;
}

button {
    background-color: var(--button-background-color);
    color: var(--text-color);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-hover-background-color);
}

input {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
}

input:focus {
    border-color: var(--button-background-color);
    outline: none;
}

.box {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 20px;
    background-color: var(--background-color);
    box-shadow: 0 3px 12px var(--box-shadow-color);
    max-width: 400px;
    width: 100%;
    margin: 20px auto;
    animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}