/* RegisterPage.css */

.light {
    background-color: #d4d4d4;
    color: black;
}

.dark {
    background-color: #333;
    color: white;
}

/* Specific styles for inputs */
.light .MuiInputBase-root {
    background-color: #eaeaea;
    color: black;
}

.dark .MuiInputBase-root {
    background-color: #444;
    color: white;
}

/* Specific styles for input labels and icons */
.light .MuiInputLabel-root,
.light .MuiSvgIcon-root {
    color: rgb(46, 46, 46);
}

.dark .MuiInputLabel-root,
.dark .MuiSvgIcon-root {
    color: white;
}

/* Center the Box component */
.register-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    min-width: 800px; /* This will be the width on small screens */
    width: 100%; /* Allow the box to take full width of its parent */
}

/* Media query for wider screens */
@media (max-width: 768px) {
    .register-form-container {
        min-width: 500px; /* Set a wider minimum width for larger screens */
    }
}


 /* .registerButton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    transition: background-color 0.3s;
} */




