/* RegisterPage.css */

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.light {
    background-color: #d4d4d4;
    color: black;
}

.dark {
    background-color: #333;
    color: white;
}

/* Specific styles for inputs */
.light .MuiInputBase-root {
    background-color: #eaeaea;
    color: black;
}

.dark .MuiInputBase-root {
    background-color: #444;
    color: white;
}

/* Specific styles for input labels and icons */
.light .MuiInputLabel-root,
.light .MuiSvgIcon-root {
    color: rgb(46, 46, 46);
}

.dark .MuiInputLabel-root,
.dark .MuiSvgIcon-root {
    color: white;
}

/* Center the Box component */
.centered-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

 
.light .registerButton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    transition: background-color 0.3s;
}

.light .registerButton:hover {
    background-color: #005fc4; /* A darker shade of blue */
    cursor: pointer; /* Changes cursor to pointer when hovering */
}
  

.dark .registerButton {
    background-color: #747bff; /* Dark button background */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dark .registerButton:hover {
    background-color: #575bb1; /* Darker shade for hover effect */
    cursor: pointer;
}

/* Link styles in light mode */
.light .loginLink {
    color: #007bff; 
    text-decoration: none; 
    transition: color 0.3s; 
}

.light .loginLink:hover {
    color: #005fc4;
    text-decoration: underline; 
}

/* Link styles in dark mode */
.dark .loginLink {
    color: #747bff; 
    text-decoration: none;
    transition: color 0.3s;
}

.dark .loginLink:hover {
    color: #575bb1; 
    text-decoration: underline;
}

